*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Cabin", sans-serif;
  background-image: url(img/background.jpg);
  background-size: 100% 100vh;
}

#container {
  position: absolute;
  width: 800px;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.nav {
  position: relative;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 5px 0;
  overflow: hidden;
}

.nav li {
  float: right;
}

.nav li a {
  display: block;
  float: right;
  color: white;
  text-align: center;
  padding: 9px 11px;
  margin: 3px;
  text-decoration: none;
  background-color: rgb(23, 136, 0);
  border-radius: 5px;
}
.fa-question-circle:before {
  padding: 0 5px 0 0;
  content: "\f059";
}
.fa-link:before {
  padding: 0 5px 0 0;
  content: "\f0c1";
}
.fa-cog:before {
  padding: 0 5px 0 0;
  content: "\f013";
}

.dropdown {
  float: right;
  overflow: hidden;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  text-align: left;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  top: 90%;
  display: block;
}

.decksImages {
  display: none;
  position: absolute;
  border-radius: 5px;
  min-width: 100px;
  left: 100%;
  top: 66.6%;
}

.decksImages a {
  padding: 20px;
}

.decks:hover .decksImages {
  display: block;
}

.scoreDiv {
  position: relative;
  margin: 5px 0;
  display: grid;
  grid-template-columns: 15% 60% 25%;
}

.scoreText {
  position: relative;
  height: 3rem;
  font-size: 40px;
  color: rgb(255, 255, 255);
  user-select: none;
}

.score {
  position: relative;
  height: 3rem;
  font-size: 40px;
  color: rgb(255, 255, 255);
  user-select: none;
}

.highScores {
  font-size: 20px;
  height: 4rem;
  line-height: 1.15;
  color: rgb(255, 255, 255);
}

.dealersText {
  position: relative;
  height: 5rem;
  font-size: 50px;
  color: black;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  align-self: center;
  user-select: none;
}

.dealersText::after {
  position: relative;
  content: attr(data-value);
  font-size: 2rem;
  color: white;
  align-self: center;
  top: 0.2rem;
  left: 1rem;
}
.playersTextbox {
  display: grid;
  grid-template-columns: 26% 14% 20% 14% 26%;
}

.playersScore {
  position: relative;
  height: 5rem;
  font-size: 2rem;
  color: white;
  display: grid;
  text-align: center;
  align-content: center;
  grid-auto-flow: column;
  user-select: none;
}

.potDiv {
  display: grid;
  grid-template-columns: 45% 10% 45%;
}

.potValueLeft,
.playersScore.left,
.playersResult.left {
  justify-content: right;
}

.potValueRight,
.playersScore.right,
.playersResult.right {
  justify-content: left;
}

.playersResult {
  padding: 0 35px;
  position: relative;
  height: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(0, 0, 0);
  display: grid;
  align-content: center;
  grid-auto-flow: column;
  user-select: none;
}

.playersText {
  position: relative;
  width: 100%;
  height: 5rem;
  font-size: 50px;
  color: black;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  align-self: center;
  user-select: none;
}

.dealersHand,
.playersHand,
.gapP {
  height: 13rem;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-auto-flow: column;
  user-select: none;
}

.pot,
.potValueRight,
.potValueLeft {
  padding: 5px;
  height: 4rem;
  color: white;
  font-size: 2em;
  display: grid;
  align-content: center;
  user-select: none;
}
.potText {
  color: black;
  justify-content: center;
}

.gapP {
  display: none;
}

.gapP.show {
  width: 125px;
  height: 174px;
  align-content: center;
  display: block;
}

img {
  max-height: 100%;
  pointer-events: none;
}

.dCard,
.pCard {
  position: relative;
  margin: 2px;
  width: 120px;
  height: 174px;
  border: 1px solid black;
  border-radius: 5%;
  background: white;
  overflow: hidden;
}

.pCard.noGap {
  margin: 0;
}

.splitCardImage {
  width: 60px;
  object-fit: scale-down;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.buttonDiv {
  position: relative;
  display: flex;
  justify-content: center;
}

.buttonColumn,
.betsColumn {
  position: relative;
  font-size: 1em;
  font-weight: bold;
}

.button {
  margin: 0;
  padding: 0;
  width: 4rem;
  height: 3rem;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
  border-radius: none;
}

.button:hover:enabled {
  cursor: pointer;
}

.buttonRow,
.betsRow {
  display: grid;
  height: 3rem;
  grid-template-columns: 33% 34% 33%;
}

.bet {
  font-size: 3rem;
}

.bet.left,
.bet.right {
  color: white;
}

.bet.left,
.bet.right {
  text-align: center;
}

#betButton,
#restartButton {
  width: 12rem;
}

#backOfCard,
#hitButton,
#standButton,
#doubleDownButton,
#restartButton,
#betButton,
#splitButton,
#bet50Button,
#bet100Button,
#bet200Button {
  display: none;
}

#backOfCard.show,
#hitButton.show,
#standButton.show,
#doubleDownButton.show,
#restartButton.show,
#betButton.show,
#splitButton.show,
#bet50Button.show,
#bet100Button.show,
#bet200Button.show {
  display: flex;
}
